body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Acme', sans-serif;
    color: white;
}

h1 {
    font-size: 1.35cm;
    text-align: center;
}

.body_div{
    display: flex;
}

.global_div {
display: grid;
grid-template-columns: 15rem 12rem 15rem;
grid-template-rows: 15rem 12rem 15rem;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.grass {
    background-color:rgb(0, 63, 0);
}

.road {
    background-color:gray;
    display: flex;
}

.road_part_vertical{
    width: 100%;
}

.hr_vertical{
    border-top: 0.5rem dashed white;
    transform: rotate(90deg);
    height: 0;
    width: 100%;
    margin: 0;
}

.inersection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

#t1,
#t4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color:black;
    width: 70%;
    height: 30%;
}

#t2,
#t3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: black;
    width: 30%;
    height: 70%;
}

#light_box_1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#light_box_2{
    display: flex;
    align-items: flex-end;
}

#light_box_3{
    display: flex;
    justify-content: flex-end;
}

.red,
.amber,
.green {
    width: 2.5rem;
    height: 2.5rem;
    background-color: gray;
    border-radius: 50%;
}

.buttons{
    display: flex;
    flex-direction: column;
}

button{
    width: 20vw;
    height: 100%;
    font-family: 'Acme', sans-serif;
    font-size: 1cm;
}